body {
    margin: 0;
    text-decoration: none;
            
            
            font-family: 'Raleway', sans-serif;
            letter-spacing: .1vw;
            font-weight: 800;
    position: relative; /* Make body a positioning context */
}
.header {
    padding: 20px;
    text-align: center;
    background-color: #455d7a; /* Slightly lighter green */
    align-items: center;
}
body {
    font-weight: 300; /* Adjust font weight to make it thinner */
}

/* Apply to specific elements if needed */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300; /* Adjust font weight for headings */
}

p, span, a, button {
    font-weight: 300; /* Adjust font weight for paragraphs, spans, links, and buttons */
}
.logo {
    
    text-align: center;
    padding-left: 20px;
   
}
.header .home {
    float: right;
    
    align-items: center;
    
    
    
}
.home a p {
    color: white;
    font-weight: bold;
    font-size: 30px;
}
  
  .container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    color: #455d7a;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    color: #233142;
    font-size: 20px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    background-color: #455d7a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #3a4b60;
  }
  
.footer {
    position:static;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #455d7a; /* Your footer background color */
    color: white; /* Text color */
    padding: 10px 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer p {
    margin: 0;
}

.left-content,
.right-content {
    flex: 1;

}
.right-content {
    text-align: right;
    margin-right: 15px;
}
.left-content {
    text-align: left;
    margin-left: 15px;
}
.center-content {
    flex: 2;
    text-align: center;
    padding-left: 60px;
}
.right-content {
    top: 0;
    right: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold; /* Bolder font weight */
    
}
.header1 {
    background-color: white;
    color: #455d7a;
    text-align: center;
    padding: 10px 0;
    padding-top: 20px;
    margin-bottom: -20px;
    font-size: 25px;
}

.header1 h1 {
    margin: 0;
}
.header1 p {
    font-size: 20px;
}
.contact-number {
    position: absolute;
    padding-top: 10px;
    right: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold; /* Bolder font weight */
    align-items: center;            
    
}
.banner {
    background-color: whitesmoke; /* Grey color */
    padding: 20px 0;
    text-align: center;
    
}
.banner h2 {
    margin: 0;
    margin-top: 20px;
    color: #233142;
}
.banner p {
    margin: 20px;
    font-size: 18px;
    color: #233142;

}
.banner .underline {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}
.banner-heading {
    color: white;
    font-size: 30px;
    text-align: center;
    position: relative;
    margin-bottom: 40px;
    display: inline-block;
    font-weight: bold ;
}

.banner-heading::after {
    content: '';
    position: absolute;
    bottom: -10px; /* Adjust this value to control the distance of the underline from text */
    left: 50%; /* Position the underline at the center of the text */
    width: 50%; /* Set the width of the underline to half the width of the text */
    height: 3px;
    background-color: black; /* Adjust the color of the underline */
    transform: translateX(-50%); /* Center the underline */
}

.contact-info {
        position: absolute;
        top: -25%; /* Adjust as needed to position the popup directly over the contact number */
        left: 90%;
        transform: translateX(-90%);
        background-color: #233142;
        padding: 10px;
        color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        display: none;
        z-index: 2; /* Ensure contact info appears above other content */
        }

    .contact-number:hover  .contact-info {
        display: block;
    }
    @media screen and (max-width: 768px) {
        .logo {
            float: none;
            text-align: center;
            margin-left: 0;
            margin-top: 0;
        }
        .nav {
            display: block;
            text-align: center;
        }
        .nav button {
            background-color: #455d7a; /* Slightly lighter green */
            border: none;
            color: white;
            padding: 5px 35px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px; /* Larger font size */
            font-weight: bold; /* Bolder font weight */
            margin: 4px 2px;
            cursor: pointer;
            transition: font-size 0.3s ease;
        }
        .nav a {
            color: #455d7a;
        }
        .nav button {
            display: block;
            margin: 0 auto;
        }
        .footer {
            display: block;
            text-align: center;
        }
        .right-content,
        .left-content,
        .center-content {
            text-align: center;
        }
        .right-content {
            margin-right: 0;
        }
        .left-content {
            margin-left: 0;
        }
        .contact-number {
            position: static;
            display: block;
            text-align: center;
            margin: 0 auto;
        }
        .contact-info {
            position: static;
            display: none;
        }
        .contact-number:hover  .contact-info {
            display: inline;
            float: none;
            text-align: center;
            margin-left: 0;
            margin-top: 0;
            background-color: #455d7a;
            box-shadow: none;
        }
    }
        